<h2>Challenges</h2>

<form class="ui form">
  <div class="field">
    <label>Challenge Name</label>
    <input type="text" name="challenge-name" />
  </div>
  <div class="field">
    <label>Difficulty Level</label>
    <select class="ui fluid dropdown">
      <option value="Beginner">Beginner</option>
      <option value="Intermediate">Intermediate</option>
      <option value="Advanced">Advanced</option>
    </select>
  </div>
  <div class="ui form">
    <div class="field">
      <label>Challenge Description</label>
      <textarea></textarea>
    </div>
  </div>
  <div class="field">
  </div>
  <button class="ui button" type="submit">Submit</button>
</form>
