<p>this app works</p>
<div class="row">
  <div class="column">
    <h2 class="ui icon header">
      <img class="ui icon image" src="/images/icons/paint.png">
      3000+ Theming Variables
    </h2>
    <p>The only dogma from this framework: <em>everything arbitrary is mutable</em>.</p>
    <a class="ui large button" href="/usage/theming.html">Theming Guide</a>
  </div>
  <html itemscope="" itemtype="http://schema.org/SearchResultsPage" lang="en-CA">
  <head>
    <meta content="/images/branding/googleg/1x/googleg_standard_color_128dp.png" itemprop="image">
    <meta content="origin" name="referrer">
    <title>ui design inspiration - Google Search</title>
    <script
