<div class="ui two column grid">
  <div class="stretched row">
    <div class="five wide column">
      <app-sidebar></app-sidebar>
    </div>
    <div class="column">
      <div class="ui container">
        <form _ngcontent-c0="" class="ui large form container ng-untouched ng-pristine ng-valid" novalidate="">
          <h3 _ngcontent-c0="" class="ui header">Profile picture</h3>
          <div class="ui container">
            <img src="/assets/images/camera.png" class="ui centered tiny circular bordered image">
          </div>
          <div _ngcontent-c0="" class="field">
            <label _ngcontent-c0="" for="Username">Username:</label>
            <input _ngcontent-c0="" id="Username" placeholder="Hacker111" name="title" size="50">
          </div>
          <div _ngcontent-c0="" class="field">
            <label _ngcontent-c0="" for="Name">Name:</label>
            <input _ngcontent-c0="" id="Name" placeholder="Stealth Person" name="Name">
          </div>
          <div _ngcontent-c0="" class="field">
            <label _ngcontent-c0="" for="Email">Bio:</label>
            <input _ngcontent-c0="" id="Email" placeholder="Tell the world more than just hello." name="email">
          </div>
          <div _ngcontent-c0="" class="field">
            <label _ngcontent-c0="" for="Bio">Email:</label>
            <input _ngcontent-c0="" id="Bio" placeholder="hacker111@gmail.com" name="Bio">
          </div>
          <div _ngcontent-c0="" class="field">
            <label _ngcontent-c0="" for="link">Website:</label>
            <input _ngcontent-c0="" id="link" placeholder="www.url.com" name="link">
          </div>
          <!--<button _ngcontent-c0="" class="ui positive right floated button"> Submit link </button>-->
        </form>
      </div>
    </div>
  </div>
</div>
