.field {
  width: 400px;
}

.container {
  width: 435px;
  margin: 4rem;
  background-color: white;
}

.segment {
  background-color: white;
}

.ui centered tiny image {
  align-items: middle;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ui form container {
  margin-top: 30px;
}

.bordered {
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
