<h3 class="ui header">
  TechDraft is growing fast. Want to see just how much? Sign up and we'll let you know.
</h3>

<form class="ui form" method="post" action="https://www.google.com">
  <input type="hidden" name="action" value="subscribe">
  <input type="hidden" name="lists" value="29450">
  <div class="field">
    <div class="ui huge input">
      <input type="text" name="email_address" data-validate="email" placeholder="Email address">
    </div>
    <button type="submit" value="Subscribe" class="ui huge secondary submit button">
      Sign up
    </button>
  </div>
</form>
