<div class="ui email alternate stripe vertical segment">
  <div class="ui center aligned grid container">
    <div class="column">
      <h3 class="ui header">
        Semantic is growing fast. Want to see just how much? Sign up and we'll let you know
      </h3>
      <form class="ui form" method="post" action="https://semantic-ui.clients.ubivox.com/handlers/post/">
        <input type="hidden" name="action" value="subscribe">
        <input type="hidden" name="lists" value="29450">
        <div class="field">
          <div class="ui medium input">
            <input type="text" name="email_address" data-validate="email" placeholder="E-mail address">
            <button type="submit" value="Subscribe" class="ui medium secondary submit button">
              Sign-up
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
