<div class="feature alternate ui stripe vertical segment">
  <div class="ui three column center aligned divided relaxed stackable grid container">
    <div class="row">
      <div class="column">
        <h2 class="ui icon header">
          <img class="ui icon image" src="/images/icons/paint.png">
          3000+ Theming Variables
        </h2>
        <p>The only dogma from this framework: <em>everything arbitrary is mutable</em>.</p>
        <a class="ui large button" href="/usage/theming.html">Theming Guide</a>
      </div>
      <div class="column">
        <h2 class="ui icon header">
          <img class="ui icon image" src="/images/icons/book.png">
          50+ UI Components
        </h2>
        <p>Build your entire site with one UI stack. Share your UI between multiple projects.</p>
        <div class="ui primary view-ui large button">Browse UI</div>
      </div>
      <div class="column">
        <h2 class="ui icon header">
          <img class="ui icon image" src="/images/icons/lab.png">
          5000+ Commits
        </h2>
        <p>
          Semantic UI is a <b>free open source</b> project already used in multiple <a href="http://www.quirky.com" target="_blank">large</a> scale <a href="https://www.newrepublic.com" target="_blank">production</a> environments.
        </p>
        <a href="https://github.com/Semantic-Org/Semantic-UI/issues" class="ui large button">Visit GitHub</a>
      </div>
    </div>
  </div>
</div>
