<div class="col">
  <form class="ui huge form">
    <div class="field">
      <h1>LOGIN</h1>
      <label id="label1">Email</label>
      <input type="text" id="input1">
    </div>
    <div class="field">
      <label id="label1">Password</label>
      <input type="text" id="input1">
    </div>
    <div id="label2" class="field">
      <a href="">Forgot password?</a>
    </div>
    <button class="ui fluid yellow large submit  button"><span>LOGIN</span></button>
    <div id="label3" class="field">
      <a href="">Sign up as a creator </a>
    </div>
  </form>
</div>


