.content {
  display: inline-block;
}

.statistic {
  padding: 10px;
  font-family: Arial;
  font-weight: bold;
  font-size: 20px;
}

.ui.circular.image {
  margin: 0 25px 0 30px;
}

.ui.items > .item .meta {
  margin: 0;
  width: 98%;
}
