.hidden {
  z-index: 1000 !important;
  position: fixed;
  height: 100%;
  width: 0;
  margin-left: -260px !important;
  left: 250px;
  top: 0;
  overflow-x: auto;
  overflow-y: auto;
  ­-webkit-­transition: all 0.5s ease;
  ­-moz-­transition: all 0.5s ease;
  -­o-­transition: all 0.5s ease;
  transition: all 0.5s ease;
}


.visible {
  z-index: 1000 !important;
  position: fixed;
  height: 100%;
  width: 100%;
  margin-left: 0px !important;
  left: 250px;
  top: 0;
  overflow-x: auto;
  overflow-y: auto;
  ­-webkit-­transition: all 0.5s ease;
  ­-moz-­transition: all 0.5s ease;
  -­o-­transition: all 0.5s ease;
  transition: all 0.5s ease;
}
