<div class="ui vertical inverted sidebar menu left overlay visible" id="toc" style="">
  <div class="item">
    <a class="ui tiny logo icon image" href="/">
      <img src="assets/images/logo.png">
    </a>
    <a href="/"><b>UI Docs</b></a>
  </div>
  <a class="item" href="/introduction/getting-started.html">
    <b>Getting Started</b>
  </a>
  <a class="item" href="/introduction/new.html">
    <b>New in 2.4</b>
  </a>
  <div class="item">
    <div class="header">Introduction</div>
    <div class="menu">
      <a class="item" href="/introduction/integrations.html">
        Integrations
      </a>
      <a class="item" href="/introduction/build-tools.html">
        Build Tools
      </a>
      <a class="item" href="/introduction/advanced-usage.html">
        Recipes
      </a>
      <a class="item" href="/introduction/glossary.html">
        Glossary
      </a>
    </div>
  </div>
  <div class="item">
    <div class="header">Usage</div>
    <div class="menu">
      <a class="item" href="/usage/theming.html">
        Theming
      </a>
      <a class="item" href="/usage/layout.html">
        Layouts
      </a>
    </div>
  </div>
  <div class="item">
    <div class=" header">Globals</div>
    <div class="menu">
      <a class="item" href="/globals/reset.html">
        Reset
      </a>
      <a class="item" href="/globals/site.html">
        Site
      </a>
    </div>
  </div>
  <div class="item">
    <div class=" header">Elements</div>
    <div class="menu">
      <a class="item" href="/elements/button.html">
        Button
      </a>
      <a class="item" href="/elements/container.html">
        Container
      </a>
      <a class="item" href="/elements/divider.html">
        Divider
      </a>
      <a class="item" href="/elements/flag.html">
        Flag
      </a>
    </div>
</div> 
