<section>
    <div class="header">
        <a class="active" href="#"><button aria-label=""
            class="h-jI8r2f9ozTNqu_2TBeY" role="navigation">
            
            <span class="_1GieMuLljOrqnVpRAwz7VP"><strong> <h1>Your profile</h1></strong></span>
            <img src="https://www.redditstatic.com/avatars/avatar_default_05_FFD635.png"
                class="_165RkdCO9QoaErMgkkAsEc _1jKtP65jnxLmoGCSqxAgkZ">
            
        </button></a>
    </div>
    <div>
        <a href="#"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> </a>
    </div>
</section>