<h1 class="ui header">


  <div class="sub header">

    <a class="twitter-share-button twitter" href="http://twitter.com/share"
      data-text="Semantic UI is a next generation UI framework" data-url="http://semantic-ui.com" data-via="semanticui">
    </a>
    <script type="text/javascript">
      window.twttr = (function (d, s, id) { var t, js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) { return } js = d.createElement(s); js.id = id; js.src = "https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } }) }(document, "script", "twitter-wjs"));
    </script>
    <iframe class="github"
      src="http://ghbtns.com/github-btn.html?user=semantic-org&amp;repo=semantic-ui&amp;type=watch&amp;count=true"
      allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"></iframe>


  </div>
  <div class="ui vertical inverted sidebar menu left" id="toc"></div>





